# IntelliJ
.idea
*.iml
*.ipr
*.iws
!/.idea/icon.png
!/.idea/copyright/

# Eclipse
.classpath
.project
.settings

# Netbeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Build artifacts
*.jar
out/
build/
**/bin/

# Gradle
.gradle
!gradle-wrapper.jar

# Misc
logs/
*.log*
local.properties
docs/api/
site/
.env